<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">About and Contact</h1>
      <hr>

      <h2>What is Conchboards?</h2>
      <p>Conchboards is a platform to create, discover, and share soundboards. It was built for the same reason as its intended use; for fun!</p>
      <p>The use of the platforms is entirely free. You'll just have to create an account to be able to create your own soundboards, as well as add others to your favourites.</p>

      <h2>Contact Information</h2>
      <p>Should you need to contact us for any reason, please write to contact@conchboards.com!</p>
      
      <hr>
    </div>
  </div>
</div>