<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">FAQ</h1>
      <p class="text-center">Please see below for help with troubleshooting common problems.</p>
      <hr>

      <h3>Q: Where is my verification email?</h3>
      <p>Receiving your verification email may take a few minutes. Additionally, please check your Spam/Junk folders if you haven't already.</p>
      <hr>

      <h3>Q: How do I start creating and favouriting boards?</h3>
      <p>You need to <a [routerLink]="['/signup']" >register</a> for a free account to do so.</p>
      <hr>

      <h3>Q: Why can't I select or upload certain files?</h3>
      <p>Please take note of the following restrictions when uploading soundboards:</p>
      <ul>
        <li>Files must be < 2.5mb in size</li>
        <li>Only the following image formats are supported: .jpg, .jpeg, and .png</li>
        <li>Only the following audio formats are supported: .mp3, .wav, .mpga, .aif, .aiff</li>
        <li>Maximum of 12 sounds per board</li>
      </ul>
      <hr>

      <h3>Q: Why has my account been banned?</h3>
      <p>Most likely due to malicious behaviour, such as uploding inapropriate content.</p>
      <hr>

      <h3>Q: What if I still have questions?</h3>
      <p>If you still have questions, please write to contact@conchboards.com!</p>
      <hr>
      
    </div>
  </div>
</div>